.piano {
  --velvet: #d67;

  --white-key-up: inset -1px 1px 2px slategray;
  --white-key-down: inset -2px 2px 5px slategray;
  --black-key-up: -2px 2px 5px slategray;
  --black-key-down: -1px 1px 2px slategray;

  --width-black: 30px;
  --width-white: 60px;

  display: flex;
  background-color: rgba(slategray, 0.35);
  height: 50vh;
  max-height: 300px;
  user-select: none;
  overflow: hidden;

  box-shadow: 0 -4px 3px -2px var(--velvet), -3px 4px 6px -5px slategray;
  border-radius: 3px;

  // TODO: this should be tied to input styles
  margin-top: 5rem;

  &:focus {
    // TODO: get rid of this
    outline: none;
  }

  // ############################## Keys ##############################
  .blackKey,
  .whiteKey {
    transition: box-shadow 0.1s ease-out;
    border-radius: 0 0 3px 3px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .blackKey {
    box-shadow: var(--black-key-up);
    background-color: black;
    color: ghostwhite;
    z-index: 2;

    height: 60%;
    width: var(--width-black);

    position: relative;
    right: calc(var(--width-black) / 2);
    margin-right: calc(0px - var(--width-black));

    padding-bottom: 0.1em;

    &.pressed {
      box-shadow: var(--black-key-down);

      // + .pressed {
      //   box-shadow: -2px 2px 5px slategray !important;
      // }
    }
  }

  .whiteKey {
    background-color: ghostwhite;
    color: black;
    z-index: 1;

    height: 100%;
    width: var(--width-white);

    padding-bottom: 1em;

    &:not(:last-child) {
      box-shadow: var(--white-key-up);
    }

    &:last-child {
      // use negative spread radius w/x-/y-offset differentials to hide right edge of shadow
      box-shadow: inset -1px 3px 2px -2px slategray;
    }

    &.pressed {
      box-shadow: var(--white-key-down);

      &.nextPressed {
        // Combine default and height differential box-shadow,
        // adjust spread and offset so that they each only show on certain sides
        // height-differential should show on top, bottom, and left
        // default should show on right
        box-shadow: inset -2px 1px 2px -1px slategrey, // default right
          inset 1px 5px 5px -3px slategray, // height-differential top and left
          inset 0px -3px 5px -5px slategrey !important; // height-differential bottom
      }

      + .blackKey.pressed {
        box-shadow: var(--black-key-up) !important;
      }
    }

    // query whether next to another press key
  }
}
