.piano {
  --velvet: #d67;

  --white-key-next-up: inset -1px 1px 2px slategray;
  --white-key-next-down: inset -2px 2px 5px slategray;
  --black-key-up: -2px 2px 5px slategray;
  --black-key-down: -1px 1px 2px slategray;

  --width-black: 30px;
  --width-white: 60px;

  display: flex;
  // background-color: rgba(slategray, 0.35);
  background-color: #fff;
  height: 50vh;
  max-height: 300px;
  user-select: none;
  overflow: hidden;

  box-shadow: 0 -4px 3px -2px var(--velvet), -3px 4px 6px -5px slategray;
  border-radius: 3px;

  // TODO: this should be tied to input styles
  margin-top: 5rem;

  &:focus {
    // TODO: get rid of this
    outline: none;
  }

  // ############################## Keys ##############################
  .blackKey,
  .whiteKey {
    transition: box-shadow 0.1s ease-out;
    border-radius: 0 0 3px 3px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .blackKey {
    box-shadow: var(--black-key-up);
    background-color: black;
    color: ghostwhite;
    z-index: 2;

    height: 60%;
    width: var(--width-black);

    position: relative;
    right: calc(var(--width-black) / 2);
    margin-right: calc(0px - var(--width-black));

    padding-bottom: 0.1em;

    &.pressed {
      box-shadow: var(--black-key-down);

      // + .pressed {
      //   box-shadow: -2px 2px 5px slategray !important;
      // }
    }
  }

  .whiteKey.pressed + .blackKey:not(.pressed) {
    // bottom shadow, left shadow
    box-shadow: 0 4px 5px -2px slategray,
      -3px -3px 8px -1px slategray;
  }

  .whiteKey.pressed + .blackKey.pressed {
    box-shadow: -2px 0 5px slategray;
  }

  .whiteKey.pressed + .whiteKey {
    box-shadow: 0 0 5px slategrey;
  }

  .whiteKey.pressed + .blackKey + .whiteKey {
    box-shadow: 0 0 5px slategrey;
  }

  .whiteKey.pressed + .whiteKey.pressed,
  .whiteKey.pressed + .blackKey + .whiteKey.pressed {
    box-shadow: -1px 1px 1px -1px slategrey;
  }

  .whiteKey {
    box-shadow: -2px 1px 1px -1px slategrey;

    background-color: ghostwhite;
    color: black;
    z-index: 1;

    height: 100%;
    width: var(--width-white);

    padding-bottom: 1em;

    &.pressed {
      background: linear-gradient(
        0deg,
        scale-color(ghostwhite, $lightness: -1%),
        50%,
        scale-color(ghostwhite, $lightness: -0.2%)
      );
      box-shadow: inset 1px 2px 5px -2px slategray;
    }
  }
}
