.piano {
  --velvet: #d67;

  display: flex;
  background-color: rgba(slategray, 0.35);
  height: 50vh;
  max-height: 300px;
  user-select: none;
  overflow: hidden;

  box-shadow: 0 -4px 3px -2px var(--velvet), -3px 4px 6px -5px slategray;
  border-radius: 3px;

  &:focus {
    // TODO: get rid of this
    outline: none;
  }
}

.blackKey,
.whiteKey {
  transition: box-shadow 0.1s linear;
  border-radius: 0 0 3px 3px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.blackKey {
  --width: 30px;

  box-shadow: -2px 2px 5px slategray;
  background-color: black;
  color: ghostwhite;
  z-index: 2;

  height: 60%;
  width: var(--width);

  position: relative;
  right: calc(var(--width) / 2);
  margin-right: calc(0px - var(--width));

  padding-bottom: 0.1em;

  &.pressed {
    box-shadow: -1px 1px 2px slategray;
  }
}

.whiteKey {
  --width: 60px;

  background-color: ghostwhite;
  color: black;
  z-index: 1;

  height: 100%;
  width: var(--width);

  padding-bottom: 1em;

  &:not(:last-child) {
    box-shadow: inset -1px 1px 2px slategray;
  }

  &:last-child {
    // use negative spread radius w/x-/y-offset differentials to hide right edge of shadow
    box-shadow: inset -1px 3px 2px -2px slategray;
  }

  &.pressed {
    box-shadow: inset -2px 2px 5px slategray;
  }

  // query whether next to another press key
}
